/* Background pattern from Total Subtle Patterns */

body {
    background-image: url(../img/dark_wall.png);
    color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-width: 300px;
}

.button {
    background-color: #363636; 
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    color: #e5e5e5;  
    font-size: 1.2em;
    padding: 7px;
}

.userHover {
    border: 1px solid #ffb900;
    box-shadow: 0px 1px 5px 0px #ffb900;
}

.userClick {
    border: 1px solid #ffb900;
    box-shadow: 0px 1px 5px 0px #ffb900;
    transition: all 3s ease;
    transform: scale(1.1);
}

h1 {
    font-size: 2em;
    margin: 15px;
    padding-bottom: 15px;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1em;
    text-align: center;
}

.player-label h2 {
    margin-bottom: 5px;
    margin-top: 15px;
}

.player-type i {
    font-size: 1.25em;
}

.user-score, .computer-score, .button i {
    font-size: 2em;
}

.game-wrapper {
    margin: 0 15px;
}

.user-container, .computer-container {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px 3vw;
}

.user-container {
    background-color: #242f40;
}

.computer-container {
    background-color: #314158;
}

.user-profile, .computer-profile {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    padding-bottom: 5px;
}

.user-buttons, .computer-buttons {
    display: flex;
    justify-content: space-between;
}

.user-buttons > * {
    flex: 0 1 20%;
}

.computer-buttons > * {
    flex: 0 1 20%;
}

.user-icon {
    line-height: 42px;
}

.round-result {
    padding: 15px;
    color: #ffb900;
    font-size: 1.2em;
}


.user-score, .computer-score {
    color: #ffb900;
}

.button h3:last-child {
    padding-top: 5px;
}

.computerPick {
    border: 1px solid #ffb900;
    box-shadow: 0px 1px 5px 0px #ffb900;
    transition: all 3s ease;
    transform: scale(1.1);
}

@media only screen and (min-width: 450px) {
    .game-wrapper {
        margin: 0 auto;
        max-width: 400px;
    }
}

@media only screen and (min-width: 600px) {
    .game-wrapper {
        display: flex;
        flex-direction: row;
        max-width: 850px;
    }

    .game-wrapper > * {
        flex: 0 1 45%;
    }

    .player-label {
        margin: 0 15px;
    }
}
