body {
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(255,0,176,1) 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.button {
    background-color: white;   
    padding: 7px;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 5px;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 15px;
    padding-bottom: 30px;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1em;
}

.player-type i {
    font-size: 1.25em;
}

.user-score, .computer-score, .button i {
    font-size: 2em;
}

.game-wrapper {
    margin: 0 15px;
}

.user-container, .computer-container {
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.user-profile, .computer-profile {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.user-buttons {
    color: #ff00b0;
    display: flex;
    justify-content: space-between;
}

.computer-buttons {
    color: #090979;
    display: flex;
    justify-content: space-between;
}


/* blue: #090979 */
/* pink: #ff00b0 */
