/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* Background pattern from Total Subtle Patterns */

body {
    background-image: url(../img/dark_wall.png);
    color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-width: 300px;
}

.button {
    background-color: #363636; 
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    color: #e5e5e5;  
    font-size: 1.2em;
    padding: 7px;
    text-align: center;
}

.userHover {
    border: 1px solid #ffb900;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 5px 0px #ffb900;
            box-shadow: 0px 1px 5px 0px #ffb900;
}

.userClick {
    border: 1px solid #ffb900;
    -webkit-box-shadow: 0px 1px 5px 0px #ffb900;
            box-shadow: 0px 1px 5px 0px #ffb900;
    -webkit-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

h1 {
    font-size: 2em;
    margin: 15px;
    text-align: center;
    color: #ffb900;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1em;
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 20px;
    color: #ffb900;
}

img {
    height: 40px;
}

.player-container {
    min-width: 250;
}


.player-label {
    margin-bottom: 5px;
    margin-top: 15px;
}

li {
    line-height: 24px;
}

.player-type img {
    height: 35px;
    margin-top: 5px;
}

.user-score, .computer-score {
    font-size: 2em;
    color: #ffb900;
}

.game-wrapper {
    margin: 0 15px;
}

.user-container, .computer-container {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px 3vw;
}

.user-container {
    background-color: #242f40;
}

.computer-container {
    background-color: #314158;
}

.user-profile, .computer-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 15px;
    padding-bottom: 5px;
}

.user-buttons, .computer-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.user-buttons > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
}

.computer-buttons > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
}

.user-icon {
    line-height: 42px;
}

.round-result {
    padding: 15px;
    color: #ffb900;
    font-size: 1.2em;
}

.button h3:last-child {
    padding-top: 5px;
}

.computerPick {
    border: 1px solid #ffb900;
    -webkit-box-shadow: 0px 1px 5px 0px #ffb900;
            box-shadow: 0px 1px 5px 0px #ffb900;
    -webkit-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

@media only screen and (min-width: 450px) {
    .game-wrapper {
        margin: 0 auto;
        max-width: 400px;
    }
}

@media only screen and (min-width: 600px) {
    .game-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        max-width: 850px;
        flex-wrap: wrap;
    }

    .game-wrapper > * {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 45%;
                flex: 0 1 45%;
    }

    .round-result {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    }

    .player-container {
        margin: 0 15px;
    }
}